:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
}

/* Компоненты */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Шапка сайта */
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.navigation,
.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.logo-accent,
.current,
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Секция герой */
.hero {
  text-align: center;
  background-color: #2f303a;
}

.heading {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Секция особенностей */
.features-heading {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-paragraph {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Секция "Наша команда" */
.section-subheading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Футер сайта */

.main-footer {
  background-color: #2f303a;
}

.footer-logo {
  color: var(--secondary-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo-accent {
  color: var(--accent-color);
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address {
  color: var(--secondary-text-color);
}
.address:focus,
.address:hover {
  color: var(--accent-color);
}

/* Секция портфолио */

.filter-button {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.portfolio-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.87;
}
